{%- comment -%} Activate account {%- endcomment -%}
<div class="customer customer-activate">
  <div class="container container--text">
    <h1 class="customer__title text-center">{{ 'customer.activate.title' | t }}</h1>
    {%- form 'activate_customer_password' -%}
      {%- if form.errors -%}<div class="contact-form__errors">{{ form.errors | default_errors }}</div>{%- endif -%}
      <div class="contact-form__row"><input type="password" name="customer[password]" placeholder="{{ 'customer.reset.password' | t }}" class="full" required></div>
      <div class="contact-form__row"><input type="password" name="customer[password_confirmation]" placeholder="{{ 'customer.reset.confirm' | t }}" class="full" required></div>
      <button type="submit" class="button">{{ 'customer.activate.submit' | t }}</button>
      <button type="submit" name="decline" class="custombtn">{{ 'customer.activate.decline' | t }}</button>
    {%- endform -%}
  </div>
</div>
