<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page_title }}</title>
  {%- if settings.favicon != blank -%}<link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">{%- endif -%}
  {{ content_for_header }}
  {%- render 'font-face' -%}
  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ 'animations.css' | asset_url | stylesheet_tag }}
</head>
<body class="template-password">
  <main class="password-page">
    {{ content_for_layout }}
  </main>
</body>
</html>
